{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>CyberChaser | Bug Bounty Recon Framework</title>
    <link rel="shortcut icon" href="{% static 'dashboard/images/cc_logo.ico' %}" type="image/x-icon">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/assets/index.css' %}">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/particles.css' %}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{% static 'dashboard/assets/index.js' %}"></script>
    <script src="{% static 'dashboard/assets/notification.js' %}"></script>
    </head>
    <body class="login__body" id="particles-js">

        <div class="login-page">
            <div class="form shadow rounded">
            <div class="logo">C<sub>C</sub></div>
            {% if messages %}
              {% for message in messages %}
                <script>
                  tata.error("Login Failed !", "{{message}}");
                </script>
              {% endfor %}
            {% endif %}
              <form method="post" action="#" class="login-form">
                  {% csrf_token %}
                <input type="text" autocomplete="off" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password" />
                <button type="submit">login</button>
                <hr style="margin-top: 3rem; margin-bottom: 1rem">
                <p class="message">Not registered? <a href="#">Create an account</a></p>
              </form>
              <h4 class="text-muted pt-3">Created By Sherwood Chaser</h4>
            </div>
          </div>


        {% comment %} <script src="{% static 'dashboard/assets/app.js' %}"></script> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
        </script>
        <script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
        <script src="{% static 'login/particles.js' %}"></script>
        <script src="{% static 'login/app2.js' %}"></script>
    </body>
</html>