{% extends 'dashboard/base.html' %}
{% block body %}

{% if messages %}
    {% for message in messages  %}
        <script>
            tata.success("Good Job !", "{{message}}");
        </script>
    {% endfor %}
{% endif %}

{% if Message %} 
<script>
    tata.success("Good Job !", "{{Message}}");
</script>
{% endif %}

<div class="content">
    <div class="navigationBar">
        <button id="sidebarToggle" class="btn sidebarToggle">
        <i class="fa fa-arrow-left togglebtn"></i>
    </div>
    <div class="container-fluid home__dashboard">
        <div class="container-fluid intro__home">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-muted text-center text-uppercase">Programs Scope</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card home__tables">
                <div class="card-header table__header__custom">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between">
                            <form action="" method='POST' class="form-group">
                                {% csrf_token %}
                                <input type="text" name="domain_name" placeholder='Your Target ..' class='form-control modal__custom__input'>
                            </form>
                            <span>
                                <form action="" method='POST' class="form-group">
                                    {% csrf_token %}
                                    <button type="button" class="btn custom_header_btn text-white" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Scope</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header modal__custom__header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Scope</h5>
                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body modal__custom__body">
                                                    <label for="program_name" class='mb-3'>Program Name :</label>
                                                    <input type="text" class="form-control modal__custom__input" placeholder='Add Program Name ..' name='program_name'>

                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="in_scope" class='mt-3'>In Scope Assets :</label>
                                                                <textarea name="in_scope" cols="30" rows="10" class="form-control modal__custom__input mt-3 mb-3" placeholder="Add In Scope.."></textarea>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="out_scope" class='mt-3'>Out Scope Assets :</label>
                                                                <textarea name="out_scope" cols="30" rows="10" class="form-control modal__custom__input mt-3 mb-3" placeholder="Add Out Scope.."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footer modal__custom__footer">
                                                    <button type="button" class="btn custom__btn__close" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" name="submit" class="btn custom__btn">Add Scope</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </span>   
                        </div>
                    </div>
                </div>
                <div class="card-body card__body_custom">
                    <div class="container-fluid">
                        <div class="row">

                            {% if scope_programs %}
                            {% for scope in scope_programs %}
                            <div class="col-md-6 card note__card">
                                <div class="card-header text-white p-3 d-flex justify-content-between align-items-center">
                                    <h4>{{scope.program_name}}</h4>
                                    <a href="?delete_scope={{scope.id}}" class="btn btn__delete btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                                <div class="card-body note__card__body text-white">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>In Scope</h5>
                                            <hr>

                                            {% for inscope in scope.in_scope.split %}
                                                {{inscope}} <br>
                                            {% endfor %}

                                        </div>

                                        <div class="col-md-6">
                                            <h5>Out Scope</h5>
                                            <hr>
                                            {% for outscope in scope.out_scope.split %}
                                                {{outscope}} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <h4 class="text-muted text-center p-4">No Scope Defined !</h4>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}